/* html {
  display: flex;
  flex-direction: row;
} */

body { 
  margin: 0;
  padding: 0; 
  background-color: burlywood;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.altMenu {
  background-color: black;
  height: 5vh;
  width: 100vw;
  object-fit: contain;
  color: white;
  display: flex;
  /* flex-direction: row; */
  align-content: center;
  justify-content: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.altMenu > button {
  height: 5vh; 
}

.altMenu > h1 {
  background-color: black;
  align-self: center;
  justify-self: center;
}

#content {
  /* width: 800px; */
  /* width: 85vw; */
  width: 70vw;
  height: 70vh; 
  /* height: 500px; */
  /* height: 80vh; */
  margin: 0 auto;
  /* margin-top: 50px;  */
  border: 1px dotted black; 
  background-color: white;
  margin-top: 5vh;
}

.main {
  display: flex;
  width: 100vw;
}

.toolbar {
  height: 80vh;
  width: 15vw; 
  /* background-color: lightgrey; */
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.remaining {
  height: 5vh;
  width: 15vw;
}

.tools { 
  width: 7vw; 
  height: 7vw;
  font-size: larger;
  /* font-size: 50px; */
  /* background-color: black; */
  /* color: whitesmoke; */
}

img {
  background-color: white;
}

/* #graffiti_wall {
  height: 80vh;
  width: 85vw;
} */

.palette { 
  height: 20vh;
  width: 100vw;
  /* background-color: tan; */
  background-color:black;
  display: flex;
  /* justify-items: center; */
  /* align-content: center; */

}

.colors {
  /* height: 100%; */
  width: 50vw;
}

.red {
  width: 5vh;
  height: 5vh; 
  background-color: red;
}

.blue {
  width: 5vh; 
  height: 5vh; 
  background-color: blue;
}

.yellow {
  width: 5vh; 
  height: 5vh;
  background-color: yellow; 
}

.green { 
  width: 5vh; 
  height: 5vh;
  background-color: green; 
}

.box {
  /* height: 15vw; */
  margin-top: 1vh;
  height: 18vh;
  width: 15vw;
  background-color: beige;
}

.swatch1 {
  border: 1px solid black;
  /* background-color: black; */
  /* background-color: red; */
  /* background-color: blue; */
  /* background-color: yellow; */
  /* background-color: green; */
  background-color: black;
  width: 7vh;
  height: 7vh;
  margin-left: 1.5vh;
  margin-top: 1.5vh;
  margin-left: 2vh;
  /* margin-top: 2vh; */
}
.swatch2 {
  border: 1px solid black; 
  width: 7vh;
  height: 7vh;
  margin-left: 9vh;
  background-color: black;
}

#canvasImg {
  width: 15vw; 
  object-fit: contain;
}
